body{
    font-family: $body_font;
    a{
        text-decoration: none;
    }

}

header{
    padding-top: 20px;
    .centrarLogo{
        margin-left: 33%;
    }

    .iconoLupa{
        position: absolute;
        margin-left: 57%;
        width: 20px;
        margin-top: -38px;
        font-size: 15px;
        color: $color-titulos;
    }
}

nav{
    .centrar{
        padding-left: 29%;
        font-size: $size-link-menu;
        text-align: center;
    }

    .enlaceManu{
         color: $color-titulos;
    }
}

.sec1a{
    .tituloSec1{
        color: $color-titulos;
    }

    h6{
        color: $color-textos;
    }

    .profile{
        color: $fechas;
        font-weight: $tipograf-l;
    }
}