*{
    font-family: $body_font;
    a{
        text-decoration: none;
    }
    a:hover{
        text-decoration: none;
    }
}

header{
    padding-top: 20px;
    .centrarLogo{
        margin-left: 33%;
    }

    .iconoLupa{
        position: absolute;
        margin-left: 57%;
        width: 20px;
        margin-top: -38px;
        font-size: 15px;
        color: $color-titulos;
    }
}

nav{
    .centrar{
        padding-left: 29%;
        font-size: $size-link-menu;
        text-align: center;
    }

    .enlaceManu{
         color: $color-titulos;
    }
}

.sec1a{
    .tituloSec1{
        color: $color-titulos;
    }

    h6{
        color: $color-textos;
    }

    .profile{
        color: $fechas;
        font-weight: $tipograf-l;
    }

    .grozorHr{
        height: $grozor-hr;
        background-color: $color-azul;
    }
}

.sec2{

    .hora{
        color: $fechas;
        font-weight: $tipograf-l;
        padding-top: 20px;
    }

    .tituloSec2{
        color: $color-titulos;
    }

    .textosSec2{
        color: $color-textos;
        text-align: justify;
    }

    .cajaNewsletter{
        background-color: #E8E8E8;
    }
    /* Parte 2 */

    .enlaceMore{
        color: $color-azul;
    }

    .bottom{
        padding-bottom: 50px;
    }

    .top{
        padding: 5px;
        padding-bottom: 5px;
    }

    .left{
        margin-left: -24px;
        margin-top: 5px;
    }
}

.sec3{
    .grozorHr{
        margin-top: 80px;
        height: $grozor-hr;
        background-color: $color-azul;
        margin-bottom: 80px;
    }

    .bottomSec3{
        padding-bottom: 50px;
    }

    .tituloSec3{
        color: $color-titulos;
    }

    .textosSec3{
        color: $color-textos;
        text-align: justify;
    }

    .hora{
        color: $fechas;
        font-weight: $tipograf-l;
        padding-top: 20px;
    }

    .fa{
        font-size: $size-link-menu;
    }
}