$body_font: 'Montserrat', sans-serif;
$color-titulos: #424242;
$size-link-menu: 15px;
$color-textos: #414549;
$fechas: #5f6368;

$tipograf-l: lighter;


/*
nGris Oscuro Títulos : #424242
Gris Claro fecha: #5f6368
Gris Texto : #414549
Azul : #4285f4
*/